<a href="https://colab.research.google.com/github/Faabry/Data_Analysis/blob/main/Animes_Limpeza_dos_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b>Limpeza dos Dados</b></h1>

In [1]:
# Versão Python
from platform import python_version
print("Versão Python Para Este Projeto:", python_version())

Versão Python Para Este Projeto: 3.10.9

In [2]:
# Imports
import re
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [3]:
%reload_ext watermark
%watermark -a "Airton Fabre" --iversions

Author: Airton Fabre

pandas: 1.5.3
numpy : 1.23.5
re    : 2.2.1

<h1><b>Carregando o Dataset</b></h1>

In [4]:
# Carregando os Dados
df = pd.read_csv("animes.csv")

In [5]:
df.head()

,name,ranked,genre,theme,status,episodes,duration,start_date,end_date,favorites
0,"""Oshi no Ko""",Ranked #1,"DramaDrama,","ReincarnationReincarnation,",Currently,11.0,Unknown,"['Apr12', '2023']",['?'],7.523
1,Fullmetal Alchemist: Brotherhood,Ranked #2,"ActionAction,",NaN,Finished,64.0,24,"['Apr5', '2009']","['Jul4', '2010']",215.444
2,Shingeki no Kyojin: The Final Season - Kankets...,Ranked #3,"ActionAction,","GoreGore,",Currently,2.0,1,"['Mar4', '2023']",['2023'],7.949
3,Steins;Gate,Ranked #4,"DramaDrama,","PsychologicalPsychological,",Finished,24.0,24,"['Apr6', '2011']","['Sep14', '2011']",181.179
4,Bleach: Sennen Kessen-hen,Ranked #5,"ActionAction,",NaN,Finished,13.0,24,"['Oct11', '2022']","['Dec27', '2022']",16.916

In [6]:
df.shape

(500, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        500 non-null    object
 1   ranked      500 non-null    object
 2   genre       402 non-null    object
 3   theme       273 non-null    object
 4   status      500 non-null    object
 5   episodes    495 non-null    float64
 6   duration    500 non-null    object
 7   start_date  500 non-null    object
 8   end_date    500 non-null    object
 9   favorites   500 non-null    float64
dtypes: float64(2), object(8)
memory usage: 39.2+ KB

In [8]:
df["start_date"]

0      ['Apr12', '2023']
1       ['Apr5', '2009']
2       ['Mar4', '2023']
3       ['Apr6', '2011']
4      ['Oct11', '2022']
             ...
495     ['Oct6', '2008']
496    ['Sep23', '2005']
497     ['Apr8', '2012']
498    ['Jul11', '2014']
499     ['Apr6', '2007']
Name: start_date, Length: 500, dtype: object

<h3><b>Funções Para Limpeza dos Dados</b></h3>

In [9]:
# Função que remove as aspas da palavra
def clear_quotes(word):
    return word.replace("'", "")

In [10]:
# Função que remove os colchetes de "abertura"
def clear_open_brackets(word):
    return word.replace("[", "")

In [11]:
# Função que remove os colchetes de "fechamento"
def clear_close_brackets(word):
    return word.replace("]", "")

In [12]:
# Função que substitui vírgula por ponto e vírugla
def replace_comma(word):
    return word.replace(",", ";")

In [13]:
# Função que remove qualquer tipo de espaço em branco
def remove_spaces(word):
    return word.replace(" ", "")

In [14]:
# Função que separa o dia do mês e divide em 3 elementos
def date_separated(word):
    return word[0][0:3] + ";" + word[0][3::]

In [15]:
# Aplicando as funções à viriável "start_date"
df["start_date"] = clear_quotes(df["start_date"].str)
df["start_date"] = clear_open_brackets(df["start_date"].str)
df["start_date"] = clear_close_brackets(df["start_date"].str)
df["start_date"] = replace_comma(df["start_date"].str)
df["start_date"] = remove_spaces(df["start_date"].str)
df["start_date"] = date_separated(df["start_date"])

In [16]:
df["start_date"][0]

'Apr;12;2023'

In [17]:
# Aplicando as funções à variável "end_date"
df["end_date"] = clear_quotes(df["end_date"].str)
df["end_date"] = clear_open_brackets(df["end_date"].str)
df["end_date"] = clear_close_brackets(df["end_date"].str)
df["end_date"] = replace_comma(df["end_date"].str)
df["end_date"] = remove_spaces(df["end_date"].str)

In [18]:
# Aplicando função lambda para dividir as datas
df["end_date"] = df["end_date"].apply(lambda x: x[0:3]+";"+x[3::])

In [19]:
df.head()

,name,ranked,genre,theme,status,episodes,duration,start_date,end_date,favorites
0,"""Oshi no Ko""",Ranked #1,"DramaDrama,","ReincarnationReincarnation,",Currently,11.0,Unknown,Apr;12;2023,?;,7.523
1,Fullmetal Alchemist: Brotherhood,Ranked #2,"ActionAction,",NaN,Finished,64.0,24,Apr;12;2023,Jul;4;2010,215.444
2,Shingeki no Kyojin: The Final Season - Kankets...,Ranked #3,"ActionAction,","GoreGore,",Currently,2.0,1,Apr;12;2023,202;3,7.949
3,Steins;Gate,Ranked #4,"DramaDrama,","PsychologicalPsychological,",Finished,24.0,24,Apr;12;2023,Sep;14;2011,181.179
4,Bleach: Sennen Kessen-hen,Ranked #5,"ActionAction,",NaN,Finished,13.0,24,Apr;12;2023,Dec;27;2022,16.916

In [20]:
# Removendo a vírgula final de cada palavra da variável "genre"
df["genre"] = df["genre"].str.replace(",", "")
df["theme"] = df["theme"].str.replace(",", "")

In [21]:
df["genre"].unique()

array(['DramaDrama', 'ActionAction', 'ComedyComedy', nan, 'Award',
       'AdventureAdventure', 'SupernaturalSupernatural', 'Avant',
       'MysteryMystery', 'FantasyFantasy', 'Boys', 'Sci-FiSci-Fi',
       'GourmetGourmet'], dtype=object)

In [22]:
# Substituindo os valores duplicados da variável "genre"
df["genre"] = np.where(df["genre"] == "DramaDrama", "Drama", df["genre"])
df["genre"] = np.where(df["genre"] == "ComedyComedy", "Comedy", df["genre"])
df["genre"] = np.where(df["genre"] == "AdventureAdventure", "Adventure", df["genre"])
df["genre"] = np.where(df["genre"] == "SupernaturalSupernatural", "Supernatural", df["genre"])
df["genre"] = np.where(df["genre"] == "MysteryMystery", "Mystery", df["genre"])
df["genre"] = np.where(df["genre"] == "FantasyFantasy", "Fantasy", df["genre"])
df["genre"] = np.where(df["genre"] == "Sci-FiSci-Fi", "Sci-Fi", df["genre"])
df["genre"] = np.where(df["genre"] == "GourmetGourmet", "Gourmet", df["genre"])
df["genre"] = np.where(df["genre"] == "ActionAction", "Action", df["genre"])

In [23]:
df["theme"].unique()

array(['ReincarnationReincarnation', nan, 'GoreGore',
       'PsychologicalPsychological', 'Gag', 'Adult', 'ChildcareChildcare',
       'MechaMecha', 'CGDCTCGDCT', 'HistoricalHistorical', 'SchoolSchool',
       'IsekaiIsekai', 'DelinquentsDelinquents', 'IyashikeiIyashikei',
       'MusicMusic', 'DetectiveDetective', 'Mahou', 'Love', 'Martial',
       'HaremHarem', 'MythologyMythology', 'Otaku', 'Idols',
       'SurvivalSurvival', 'AnthropomorphicAnthropomorphic',
       'MilitaryMilitary', 'CrossdressingCrossdressing', 'Organized',
       'Romantic', 'ParodyParody', 'SpaceSpace'], dtype=object)

In [24]:
# Substituindo valores duplicados na variável "theme"
df["theme"] = np.where(df["theme"] == "ReincarnationReincarnation", "Reincarnation", df["theme"])
df["theme"] = np.where(df["theme"] == "GoreGore", "Gore", df["theme"])
df["theme"] = np.where(df["theme"] == "PsychologicalPsychological", "Psychological", df["theme"])
df["theme"] = np.where(df["theme"] == "ChildcareChildcare", "Childcare", df["theme"])
df["theme"] = np.where(df["theme"] == "MechaMecha", "Mecha", df["theme"])
df["theme"] = np.where(df["theme"] == "CGDCTCGDCT", "CGDCT", df["theme"])
df["theme"] = np.where(df["theme"] == "HistoricalHistorical", "Historical", df["theme"])
df["theme"] = np.where(df["theme"] == "SchoolSchool", "School", df["theme"])
df["theme"] = np.where(df["theme"] == "IsekaiIsekai", "Isekai", df["theme"])
df["theme"] = np.where(df["theme"] == "DelinquentsDelinquents", "Delinquents", df["theme"])
df["theme"] = np.where(df["theme"] == "HaremHarem", "Harem", df["theme"])
df["theme"] = np.where(df["theme"] == "MythologyMythology", "Mythology", df["theme"])
df["theme"] = np.where(df["theme"] == "SurvivalSurvival", "Survival", df["theme"])
df["theme"] = np.where(df["theme"] == "AnthropomorphicAnthropomorphic", "Anthropomorphic", df["theme"])
df["theme"] = np.where(df["theme"] == "MilitaryMilitary", "Military", df["theme"])
df["theme"] = np.where(df["theme"] == "CrossdressingCrossdressing", "Crossdressing", df["theme"])
df["theme"] = np.where(df["theme"] == "ParodyParody", "Parody", df["theme"])
df["theme"] = np.where(df["theme"] == "SpaceSpace", "Space", df["theme"])
df["theme"] = np.where(df["theme"] == "DetectiveDetective", "Detective", df["theme"])
df["theme"] = np.where(df["theme"] == "IyashikeiIyashikei", "Iyashikei", df["theme"])
df["theme"] = np.where(df["theme"] == "MusicMusic", "Music", df["theme"])

In [25]:
df["theme"].unique()

array(['Reincarnation', nan, 'Gore', 'Psychological', 'Gag', 'Adult',
       'Childcare', 'Mecha', 'CGDCT', 'Historical', 'School', 'Isekai',
       'Delinquents', 'Iyashikei', 'Music', 'Detective', 'Mahou', 'Love',
       'Martial', 'Harem', 'Mythology', 'Otaku', 'Idols', 'Survival',
       'Anthropomorphic', 'Military', 'Crossdressing', 'Organized',
       'Romantic', 'Parody', 'Space'], dtype=object)

In [26]:
# Removendo a informação "Ranked #" e mantendo apenas o valor numérico
df["ranked"] = df["ranked"].apply(lambda x: x[8::])

In [27]:
df.head()

,name,ranked,genre,theme,status,episodes,duration,start_date,end_date,favorites
0,"""Oshi no Ko""",1,Drama,Reincarnation,Currently,11.0,Unknown,Apr;12;2023,?;,7.523
1,Fullmetal Alchemist: Brotherhood,2,Action,NaN,Finished,64.0,24,Apr;12;2023,Jul;4;2010,215.444
2,Shingeki no Kyojin: The Final Season - Kankets...,3,Action,Gore,Currently,2.0,1,Apr;12;2023,202;3,7.949
3,Steins;Gate,4,Drama,Psychological,Finished,24.0,24,Apr;12;2023,Sep;14;2011,181.179
4,Bleach: Sennen Kessen-hen,5,Action,NaN,Finished,13.0,24,Apr;12;2023,Dec;27;2022,16.916

In [28]:
# Reindexando o DataFrame pelo ranking
df.set_index("ranked")

,name,genre,theme,status,episodes,duration,start_date,end_date,favorites
ranked,,,,,,,,,
1,"""Oshi no Ko""",Drama,Reincarnation,Currently,11.0,Unknown,Apr;12;2023,?;,7.523
2,Fullmetal Alchemist: Brotherhood,Action,NaN,Finished,64.0,24,Apr;12;2023,Jul;4;2010,215.444
3,Shingeki no Kyojin: The Final Season - Kankets...,Action,Gore,Currently,2.0,1,Apr;12;2023,202;3,7.949
4,Steins;Gate,Drama,Psychological,Finished,24.0,24,Apr;12;2023,Sep;14;2011,181.179
5,Bleach: Sennen Kessen-hen,Action,NaN,Finished,13.0,24,Apr;12;2023,Dec;27;2022,16.916
...,...,...,...,...,...,...,...,...,...
496,Skip Beat!,Comedy,Love,Finished,25.0,24,Apr;12;2023,Mar;30;2009,5.088
497,Koukaku Kidoutai: Stand Alone Complex - The La...,Action,Adult,Finished,1.0,2,Apr;12;2023,;,55.000
498,Kuroko no Basket,NaN,School,Finished,25.0,24,Apr;12;2023,Sep;22;2012,20.581
499,Kuroshitsuji: Book of Circus,Action,Historical,Finished,10.0,24,Apr;12;2023,Sep;12;2014,3.482
501,Darker than Black: Kuro no Keiyakusha,Action,NaN,Finished,25.0,24,Apr;12;2023,Sep;28;2007,16.342

In [29]:
# Salvando o DataFrame
df.to_csv("animesv2.csv", index=False)

<h1><b>Fim</b></h1>