<a href="https://colab.research.google.com/github/Faabry/Data_Analysis/blob/main/Diabetes_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Desafio**
* # Uma empresa precisa fazer um levantamento sobre quantas pessoas tem mais de 50 anos e dentre essas pessoas quantas tem o BMI abaixo de 30 **"Normal"** e quantas pessoas tem o BMI acima de 30 **"Obeso"**.

# **Importando os dados a partir de um link usando "Python" .**

In [41]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/diabetes.csv")

In [42]:
import sqlite3

In [ ]:
# pip install ipython-sql

# **Criando o Banco de Dados**

In [52]:
# diabetes.db é o nome do nosso BD
cnn = sqlite3.connect("dados_diabetes.db")

## **Convertendo o arquivo csv para o formato sql (usando Python)**

In [53]:
# "pacientes1" é o nome da tabela do nosso BD
df.to_sql("pacientes1", cnn, index=False)

* Carregando a extensão SQL

In [54]:
%reload_ext sql

* Conectando ao Banco de Dados

In [56]:
%sql sqlite:///dados_diabetes.db

'Connected: @dados_diabetes.db'

# **Agora nosso arquivo está pronto para ser tratado**

In [57]:
%%sql

SELECT * FROM pacientes1
LIMIT 10;

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
Done.

[(6, 148, 72, 35, 0, 33.6, 0.627, 50, 1),
 (1, 85, 66, 29, 0, 26.6, 0.351, 31, 0),
 (8, 183, 64, 0, 0, 23.3, 0.672, 32, 1),
 (1, 89, 66, 23, 94, 28.1, 0.167, 21, 0),
 (0, 137, 40, 35, 168, 43.1, 2.288, 33, 1),
 (5, 116, 74, 0, 0, 25.6, 0.201, 30, 0),
 (3, 78, 50, 32, 88, 31.0, 0.248, 26, 1),
 (10, 115, 0, 0, 0, 35.3, 0.134, 29, 0),
 (2, 197, 70, 45, 543, 30.5, 0.158, 53, 1),
 (8, 125, 96, 0, 0, 0.0, 0.232, 54, 1)]

# *Nosso desafio é filtrar todos os pacientes com **"mais de 50 anos"**, verificar o BMI e **criar uma nova coluna chamada Status** onde o valor será **"Normal"** se o BMI for menor do que 30 e **"Obeso"** se o BMI for maior do que 30.*

## *Criar uma tabela filtrando somente os pacientes acima de 50 anos.*
* A princípio vamos criar uma tabela vazia e em seguida vamos alimenta-la usando o filtro

In [58]:
%%sql

CREATE TABLE maior_50(
                    Pregnancies INT,
                    Glucose INT,
                    BloodPressure INT,
                    SkinThickness INT,
                    Insulin INT,
                    BMI DECIMAL(8, 2),
                    DiabetesPedigreeFunction DECIMAL(8, 2),
                    Age INT,
                    Outcome INT);

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
Done.

[]

## Inserindo os dados filtrados da tabela **pacientes1** na tabela criada anteriormente chamada **maior_50**.

In [59]:
%%sql

INSERT INTO maior_50(
                                Pregnancies,
                                Glucose,
                                BloodPressure,
                                SkinThickness,
                                Insulin,
                                BMI,
                                DiabetesPedigreeFunction,
                                Age,
                                Outcome)

SELECT  Pregnancies,
        Glucose,
        BloodPressure,
        SkinThickness,
        Insulin,
        BMI,
        DiabetesPedigreeFunction,
        Age,
        Outcome
FROM pacientes1
WHERE Age > 50;

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
81 rows affected.

[]

In [60]:
%%sql

SELECT * FROM maior_50
LIMIT 10;

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
Done.

[(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1),
 (11, 143, 94, 33, 146, 36.6, 0.254, 51, 1),
 (13, 145, 82, 19, 110, 22.2, 0.245, 57, 0),
 (5, 109, 75, 26, 0, 36, 0.546, 60, 0),
 (4, 111, 72, 47, 207, 37.1, 1.39, 56, 1),
 (9, 171, 110, 24, 240, 45.4, 0.721, 54, 1)]

## Criando uma nova coluna chamada **Status** que irá receber os valores "Normal" ou "Obeso".

In [61]:
%%sql

ALTER TABLE maior_50
ADD COLUMN Status VARCHAR(10);

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
Done.

[]

In [62]:
%%sql

UPDATE maior_50
SET Status = "Normal"
WHERE BMI < 30;

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
38 rows affected.

[]

In [63]:
%%sql 

UPDATE maior_50
SET Status = "Obeso"
WHERE BMI > 30;

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
43 rows affected.

[]

In [65]:
%%sql

SELECT * FROM maior_50
LIMIT 10;

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
Done.

[(2, 197, 70, 45, 543, 30.5, 0.158, 53, 1, 'Obeso'),
 (8, 125, 96, 0, 0, 0, 0.232, 54, 1, 'Normal'),
 (10, 139, 80, 0, 0, 27.1, 1.441, 57, 0, 'Normal'),
 (1, 189, 60, 23, 846, 30.1, 0.398, 59, 1, 'Obeso'),
 (5, 166, 72, 19, 175, 25.8, 0.587, 51, 1, 'Normal'),
 (11, 143, 94, 33, 146, 36.6, 0.254, 51, 1, 'Obeso'),
 (13, 145, 82, 19, 110, 22.2, 0.245, 57, 0, 'Normal'),
 (5, 109, 75, 26, 0, 36, 0.546, 60, 0, 'Obeso'),
 (4, 111, 72, 47, 207, 37.1, 1.39, 56, 1, 'Obeso'),
 (9, 171, 110, 24, 240, 45.4, 0.721, 54, 1, 'Obeso')]

In [66]:
%%sql

SELECT COUNT (*) FROM maior_50
WHERE Status = "Normal";

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
Done.

[(38,)]

In [67]:
%%sql 

SELECT COUNT (*) FROM maior_50
WHERE Status = "Obeso";

 * sqlite:///dados_diabetes.db
   sqlite:///diabetes.db
Done.

[(43,)]

# **Conclusão:**
* Temos 38 pacientes acima de 50 anos com o BMI menor do que 30, ou seja com o status **Normal**.

* Temos 43 pacientes acima de 50 anos com o BMI maior do que 30, ou seja com o status **Obeso**.