<a href="https://colab.research.google.com/github/Faabry/Data_Analysis/blob/main/Animes_Combination.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1><b>Combination</b></h1>

In [ ]:
# Versão Python
from platform import python_version
print("Versão Python Para Este Projeto:", python_version())

Versão Python Para Este Projeto: 3.10.9

In [ ]:
# Imports
import json
import pandas as pd

In [ ]:
%reload_ext watermark
%watermark -a "Airton Fabre" --iversions

Author: Airton Fabre

json  : 2.0.9
pandas: 1.5.3

In [ ]:
# Lista
animes = []

# Loop para percorrer todos os arquivos.txt
for limit in range(0, 451, 50):
    
    # Acessando os arquivos no modo leitura e carregando no formato JSON
    with open(f"dados/AnimeInfo/animeInfo{limit}.txt", "r") as file:
        animeInfo = json.load(file)
        
        # Extraindo as informações dos 50 animes presentes em cada arquivo.txt
        # Append das informações em uma lista
        for link in range(50):
            animes.append(animeInfo[link])

In [ ]:
# Criando um DataFrame a partir da lista
df = pd.DataFrame(animes)

In [ ]:
df.head()

,name,ranked,genre,theme,status,episodes,duration,start_date,end_date,favorites
0,"""Oshi no Ko""",Ranked #1,"DramaDrama,","ReincarnationReincarnation,",Currently,11,Unknown,"[Apr12, 2023]",[?],7.523
1,Fullmetal Alchemist: Brotherhood,Ranked #2,"ActionAction,",None,Finished,64,24,"[Apr5, 2009]","[Jul4, 2010]",215.444
2,Shingeki no Kyojin: The Final Season - Kankets...,Ranked #3,"ActionAction,","GoreGore,",Currently,2,1,"[Mar4, 2023]",[2023],7.949
3,Steins;Gate,Ranked #4,"DramaDrama,","PsychologicalPsychological,",Finished,24,24,"[Apr6, 2011]","[Sep14, 2011]",181.179
4,Bleach: Sennen Kessen-hen,Ranked #5,"ActionAction,",None,Finished,13,24,"[Oct11, 2022]","[Dec27, 2022]",16.916

In [ ]:
df.shape

(500, 10)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        500 non-null    object
 1   ranked      500 non-null    object
 2   genre       402 non-null    object
 3   theme       273 non-null    object
 4   status      500 non-null    object
 5   episodes    495 non-null    object
 6   duration    500 non-null    object
 7   start_date  500 non-null    object
 8   end_date    500 non-null    object
 9   favorites   500 non-null    object
dtypes: object(10)
memory usage: 39.2+ KB

<p>Salvando o DataFrame em disco</p>

In [ ]:
df.to_csv("animes.csv", index=False)

<h1><b>Fim</b></h1>